/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@font-face {
    font-family: 'Furore-webfont';
    src: url('//assets.donordrive.com/themes/extralife/fonts/Furore-webfont.eot');
    src: url('//assets.donordrive.com/themes/extralife/fonts/Furore-webfont.eot?iefix') format('eot'), url('//assets.donordrive.com/themes/extralife/fonts/Furore-webfont.woff') format('woff'), url('//assets.donordrive.com/themes/extralife/fonts/Furore-webfont.ttf') format('truetype'), url('//assets.donordrive.com/themes/extralife/fonts/Furore-webfont.svg#webfont') format('svg');
    unicode-range: U+0000-009F, U+00A1-00FF;
}

#xl-wrapper .xl-font {
    font-family: 'Furore-webfont';
}

#xl-wrapper fieldset {
    padding: 15px;
    border: 1px solid #ddd;
}

#xl-wrapper .start-over {
    text-align: left;
    font-size: 80%;
    text-transform: uppercase;
}

#xl-wrapper form {
    padding: 10px;
    background: #f7f7f7;
}

#xl-wrapper hr {
    margin: 15px 0;
}

#xl-wrapper .form-group {
    margin-bottom: 15px;
}

#xl-wrapper .control-label {
    margin-bottom: 0px;
    font-size: 90%;
    font-weight: normal;
    color: #2CE;
    text-transform: uppercase;
    font-family: 'Furore-webfont';
}

#xl-wrapper input[readonly] {
    border: 0;
}

#xl-wrapper .form-control {
    display: block;
    width: 100%;
    padding: 7px;
    color: #000;
}

#xl-wrapper .form-control::-moz-placeholder {
    font-size: small;
    color: #aaa;
    font-style: italic;
}

#xl-wrapper .form-control::-webkit-placeholder {
    font-size: small;
    color: #aaa;
    font-style: italic;
}

#xl-wrapper .form-control::placeholder {
    font-size: small;
    color: #aaa;
    font-style: italic;
}

#xl-wrapper .form-control:invalid {
    border-color: #D33;
}

#xl-wrapper .btn {
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #000;
    border: 0;
    font-family: 'Furore-webfont';
    font-weight: normal;
}

#xl-wrapper .btn.btn-primary {
    color: #fff;
    background-color: #2CE;
    box-shadow: 2px 2px 1px #000;
}

#xl-wrapper .btn.btn-primary:active {
    box-shadow: inset 1px 1px 1px #000;
}

#xl-wrapper .btn.btn-sm,
#xl-wrapper .btn.btn-xs {
    padding: 5px 10px;
    font-size: small;
}

#xl-wrapper .alert {
    padding: 10px 15px;
    border: 1px solid #000;
    margin-bottom: 15px;
}

#xl-wrapper .alert.alert-success {
    border-color: #0E3;
    color: #0E3;
}

#xl-wrapper .alert.alert-danger {
    border-color: #E33;
    color: #E33;
}

#xl-wrapper .text-success {
    color: #0E3;
}

#xl-wrapper .text-info {
    color: #E4D;
}

#xl-wrapper .text-warning {
    color: #D70;
}

#xl-wrapper .text-danger {
    color: #E33;
}

#xl-wrapper button:disabled {
    opacity: 0.3;
}

#xl-wrapper .thumbnail {
    border: 1px solid #ddd;
    padding: 2px;
    display: inline-block;
    max-height: 40px;
    max-width: 40px;
    vertical-align: bottom;
}

#xl-wrapper .seats>.seat {
    margin-right: 15px;
}

.pull-left {
    float: left;
    padding-right: 15px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.grid {
    line-height: 0;
    background-repeat: no-repeat;
    background-position: top left;
    display: inline-block;
    position: relative;
}

.grid-cell {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    opacity: 1;
    line-height: 25px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    text-shadow: 1px 1px 1px #000;
    font-family: Arial, sans-serif;
    position: relative;
    white-space: nowrap;
}

.grid-cell.taken,
.grid-cell.taken:hover,
.grid-cell.taken:active,
.grid-cell.taken.active {
    opacity: 0.4;
}

.grid-cell.taken:hover {
    cursor: pointer;
    opacity: 0.8;
    outline: none;
    z-index: 2;
}

.grid-cell.available {
    opacity: 1;
}

.grid-cell.available:hover {
    opacity: 1;
    border-color: #000;
    outline: 1px solid #000;
    cursor: pointer;
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.grid-cell.available:active,
.grid-cell.available.active {
    opacity: 1;
    border-color: #000;
    outline: 2px solid rgba(0, 0, 0, 1);
    cursor: pointer;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.grid-legend {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.grid-legend>.grid-legend-item {
    margin-bottom: 2px;
    font-size: 80%;
}

.grid-legend>.grid-legend-item:last-child {
    margin-bottom: 0;
}

.grid-legend>.grid-legend-item>span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 5px;
}

@media print {
    .grid-cell,
    .grid-cell.taken {
        opacity: 1 !important;
    }
}

@keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.mk-spinner-doublecircle {
    background: transparent;
    -webkit-animation: a 2.5s linear infinite;
    animation: a 2.5s linear infinite
}

.mk-spinner-doublecircle,
.mk-spinner-doublecircle:after {
    border: 4px solid;
    border-radius: 50%;
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
    z-index: 1
}

.mk-spinner-doublecircle {
    border-color: #00ccff rgba(0, 0, 0, .07)
}

.mk-spinner-doublecircle:after {
    border-color: transparent #000000;
    -webkit-animation: a 5s linear infinite;
    animation: a 5s linear infinite
}

.mk-spinner-wrap {
    min-height: 100px;
    width: 100%;
    position: relative
}