/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 fieldset {
    padding:15px;
    background:#fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    min-width:20%;
    margin-bottom:5px;
    page-break-inside: avoid;
 }

 fieldset > h3 {
     margin:0;
     margin-bottom:15px;
     padding-bottom:5px;
     border-bottom:1px solid #eee;
 }
.pull-left{
    float:left;
    margin-right:15px;
}
.pull-right{
    float:right;
    margin-left:15px;
}
 .clearfix:before, .clearfix:after{
     content: " ";
     display: table;
     clear:both;
 }

 fieldset label{
     display:block;
     margin-top:5px;
 }

 .form-control {
     width:100%;
 }

 input.form-control:invalid, select.form-control:invalid, textarea.form-control:invalid {border-color:red;}

 .grid {
    line-height:0;
    background-repeat:no-repeat;
    background-position: top left;
    display:inline-block;
    position:relative;
 }
 .grid-cell {
    width: 23px;
    height: 23px;
    border: 1px solid rgba(0,0,0,0.05);
    margin: 0;
    padding: 0;
    display: block;
    float:left;
    opacity: 1;
    line-height: 25px;
    color: #fff;
    text-align: center;
    font-size:10px;
    text-shadow: 1px 1px 3px #000;
    cursor: pointer;
    font-family: monospace;
    position:relative;
 }

 .grid-cell.taken, .grid-cell.taken:hover, .grid-cell.taken:active, .grid-cell.taken.active {
     opacity:0.5;
 }

 .grid-cell:hover, .grid-cell:active, .grid-cell.active {
     opacity:1;
     border-color:#000;
     outline: 1px solid #000;
     z-index:2;
 }

 @media print {
     .grid-cell, .grid-cell.taken {
         opacity:1 !important;
     }
 }